<div class='form-style'>
  <%= form_tag scores_path, method: :post do %>
    <%= label_tag :title, 'Title:' %>
    <%= text_field_tag :title %>
    <p><%= submit_tag 'Submit Score'%></p>
  <% end %>
</div>
