<body class="profile"> 
  <h1>Flat Username: <%= @user.username %></h1>

  <p>About: <%= @user.about %></p>
  <p>Genres Of Interest: <%= @user.interests %></p>
  <p>Instruments I Play: <%= @user.instruments %></p>
</body>