<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class='text-center' style='margin-top:40px;'>
        <img src='/assets/logo_transparent_HORIZ.png' width='40%'>
        <div style='margin-top:15px;margin-bottom:40px;'>
          <%= button_to 'Get Started', "https://flat.io/auth/oauth?client_id=#{ENV['CLIENT_ID']}&response_type=code&scope=account.public_profile scores&redirect_uri=#{ENV['CALLBACK']}",
          method: :get, params: { client_id: ENV['CLIENT_ID'], response_type: 'code', scope: 'account.public_profile scores', redirect_uri: ENV['CALLBACK'] },
          class: 'btn btn-outline-light btn-lg text-center'
          %>
        </div>
      </div>
      <div class="col-sm text-center" style='border: 3px solid #fcba03;border-radius: 25px;'>
        <p class="lead">
           Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
        </p>
      </div>
    </div>
  </div>
</div>
