.message {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.convo-subject {
  color: #0384fc;
  font-size: 20px;
  background-color: lightGray;
  padding: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 25px;
  width: 25%;
  height: auto;
  text-align: center;
  margin: auto;
}

.reply-box {
  margin: auto;
  width: auto;
  padding: 20px;
  text-align: center;
}
