.right {
  position: absolute;
  right: 50px;
  width: 300px;
  border: 2px solid lightGray;
  padding: 8px;
  text-align: center;
  color: lightGray;
}
.center-box {
  margin: auto;
  width: 50%;
  border: 3px solid #fcba03;
  border-radius: 25px;
  padding: 50px;
}
.center-headers {
  margin: auto;
  margin-bottom: 10px;
  width: 20%;
  padding: 10px;
  text-align: center;
  border-radius: 25px;
  background: #fcba03;
  padding: 5px;
  width: 250px;
  height: 50px;
  font-family: "Arial Black", Gadget, sans-serif;
  color: #0384fc;
}
.exp-header {
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  border-radius: 25px;
  background: #fcba03;
  padding: 0px;
  width: 50%;
  height: auto;
  font-family: "Arial Black", Gadget, sans-serif;
  color: #0384fc;
}
.username {
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  padding: 0px;
  width: 50%;
  height: 50px;
  font-family: "Arial Black", Gadget, sans-serif;
  color: #0384fc;
}
.profile-pic {
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50%;
}
.profile-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
  width: 700px;
  height: 900px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  background-color: lightyellow;
  padding-top: 20px;
}
.profile-title {
  color: #48494a;
  font-size: 20px;
  background-color: lightGray;
}
.message {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.profile-info {
  font-size: 25px;
}
.form-style {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
  width: 700px;
  height: 200px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  font-size: 30px;
  padding-top: 40px;
  background-color: #fcba03;
  color: #0384fc;
  border-radius: 25px;
}
.new-user-form {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
  width: 700px;
  height: 500px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  font-size: 30px;
  padding-top: 40px;
  background-color: #fcba03;
  color: #0384fc;
  border-radius: 25px;
}
.collabs {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
  width: 500px;
  max-height: 900px;
  margin: auto;
  margin-top: 50px;
  text-align: left;
  background-color: #fcba03;
  color: #0384fc;
  border-radius: 25px;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.tag-box {
  margin: auto;
  width: 20%;
  border: 3px solid #fcba03;
  border-radius: 25px;
  padding: 20px;
}
.user-comment {
  color: #0384fc;
  font-size: 20px;
  background-color: lightGray;
  padding: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 25px;
}
.msg-details {
  font-size: 12px;
  padding-bottom: 10px;
}
.msg-body-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  width: 50%;
  height: auto;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  background-color: white;
  padding: 10px;
  font-size: 18px;
}
.msg-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
  width: 700px;
  height: auto;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  background-color: lightyellow;
  padding-top: 20px;
}
.reply-box {
  margin: auto;
  width: auto;
  padding: 20px;
  text-align: center;
}
.convo-subject {
  color: #0384fc;
  font-size: 20px;
  background-color: lightGray;
  padding: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 25px;
  width: 25%;
  height: auto;
  text-align: center;
  margin: auto;
}
