<nav>
  <div>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" href='/users/dashboard'>Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href='/users/explore'>Explore</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href='/users/show'>Profile</a>
      </li>
    </ul>
  </div>
</nav>
